*,
*::before,
*::after,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  /* appearance: none; */
  text-decoration: none;
  scroll-behavior: smooth;
  perspective: 1000px;
}



body{
	scrollbar-gutter: stable;
	/* position: relative; */
	/* width: 100%;
	height: 100%; */

}

main.pageOne{
	/* display: flex; */
	position:relative;
	background-color:  palegoldenrod;
	height: 100dvh;
	width: 100dvw;
	background-image: url(/public/assests/download.png);
	background-position: center ;
	background-size: cover;
}



/*//////////////// tabel of mixing */

.table{
	position: absolute;
	top: 8%;
	right:50% ;
	left: -16%;
	bottom: 8%;
	z-index: 0;
	/* background-color: peachpuff; */
	/* background-color:rgba(0, 0, 0, 0.874); */
	/* transform: scale3d(1 ,1 , 1); */

	padding:1rem;
	color:white;
	transition:1s;
	gap:1rem;
	/* perspective: 1000px; */
	

	display:grid;
	grid-template-columns:
  
	  [side-start]
	  1fr
	  [mid-start]
	  1fr
	  [mid-end]
	  1fr
	  [side-end];
  
	 grid-template-rows:
  
	  [side-start]
	  1fr
	  [mid-start]
	  1fr
	  [mid-end]
	  1fr
	  [side-end];
	

	

	@starting-style {
		inset-inline:4%;
		inset-block: 0;
	}

	&:hover{
		left: 4%;
		right: 40%;
	}

    &:has(:hover) section{
	  transform: rotateY(-25deg) rotateX(65deg)           
	  scale(.6);
	}

}

.table:has(.top:hover,:focus,:focus-visible){
      
	&:has(.top_1:hover,:focus){
        background-color:#21C979;
		grid-template-columns:2.5fr 1fr 1fr;
		grid-template-rows:2.5fr 1fr 1fr;
	  }
	&:has(.top_2:hover,:focus){
        background-color:blue;
		grid-template-columns: 1fr 2.5fr 1fr;
		 grid-template-rows:2.5fr 1fr 1fr;
	  }
	&:has(.top_3:hover,:focus){
		background-color:#EDA48D;
		grid-template-columns: 1fr  1fr 2.5fr;
		grid-template-rows:2.5fr 1fr 1fr;
	  }
	 
	}

.table:has(.mid:hover,:focus,:focus-visible){
		&:has(.mid_1:hover,:focus){
          background-color:green;
		  grid-template-columns:2.5fr 1fr 1fr;
		  grid-template-rows: 1fr 2.5fr 1fr;
		}
	  &:has(.mid_2:hover,:focus){
		  background-color:blue;
		  grid-template-columns: 1fr 5fr 1fr;
		  grid-template-rows: 1fr 5fr 1fr;
				
		}
	  &:has(.mid_3:hover,:focus){
          background-color:yellow;
		  grid-template-columns: 1fr  1fr 2.5fr;
		  grid-template-rows: 1fr 2.5fr 1fr;
		}
	  }

.table:has(.down:hover,:focus,:focus-visible){
	&:has(.down_1:hover,:focus){
	 background-color:green;
	 grid-template-columns:2.5fr 1fr 1fr;
	 grid-template-rows: 1fr  1fr 2.5fr;
   }
 &:has(.down_2:hover,:focus){
	 background-color:blue;
	 grid-template-columns: 1fr 2.5fr 1fr;
	  grid-template-rows: 1fr  1fr 8fr;
   }
 &:has(.down_3:hover,:focus){
	 
	 grid-template-columns: 1fr  1fr 2.5fr;
	  grid-template-rows: 1fr  1fr 2.5fr;
   }
 }

article.mainGrid{
	/* position: absolute; */
	/* inset: 6dvh; */
	grid-column:1/-1;
	grid-row:1/-1;
	display:grid;
	grid-template-columns:subgrid;
	grid-template-rows:subgrid;
   
  	transition: 1s ease-in-out;


	transform: rotateY(20deg) rotateX(30deg) scale(.8);

	@starting-style{
		transform: rotateY(0deg) rotateX(10deg) scale(1);
		transform: rotateY(0deg) rotateX(50deg) scale(1);
	}
	
	
  
	&:hover{
	   transform: rotateY(0deg) rotateX(0deg) scale(1);
	}
  }

.mainGrid div:nth-of-type(n){
	  display:grid;
	  place-items:center;
	  font-size:3rem;
	  outline:solid lightslategrey;
	  
	  /* position:absolute;
	  inset: 20dvw; */
	/*   box-shadow: 0px 0px 50px 5px black; */
	  
	/*   width:100%; */
	/*   grid-column: mid; */
	  
	  
}

.mainGrid div:nth-of-type(n) label{
	width: 100%;
	height: 100%;
}


/* //////////////////////// - Sidebar */

.menu{
	/* outline: solid rgb(94, 255, 0); */
	position: absolute;
	width: min-content;
	height: 100%;
	inset-block: 2dvh;
	right: 5%;

	display: grid;
	grid-auto-flow: column;
	gap: 2%;
	scale: .9;
	transition: .5s ;
	transition-property: transform;
}

aside{
	background-color: rgb(116, 181, 119);
	/* outline: solid red; */
	transition: .9s cubic-bezier(0.6, -0.28, 0.35, 0.57);
	transition-property: opacity,transform;
	transform-origin: right;
	z-index: 1;
	height: 52rem;
	width: 25rem;
	backdrop-filter: blur(20px);
}

/* //////////// sidebar ingridients list  */

.aside_1{
	z-index: 0;
}

.aside_1 ul{
	position: relative;
	display: flex;
	flex-direction: column;
	gap:1%;
	overflow-y: scroll;
	height: 100%;
	/* scroll-snap-type: mandatory; */
	background-color: #EDA48D;
}

.aside_1 li{
	padding-block: 13%;
	outline: solid;

	&:hover{
		background-color: blue;
	}

	&:hover details{

		
	}
}
/* //////////// sidebar ipotions list  */
/* //////// css item select for aside 1  */
body:has(.aside_1 ul > li:nth-last-of-type(n)[data-value="0"]:is(:hover, :focus-within))  .mainGrid  label[data-value="0"]{
	position: relative;
	background-color: palegoldenrod;
	box-shadow: 1px 1px 77px 90px rgba(238, 232, 170, 0.511);
	animation: float 3s .5s;
} 
/* body:has(.aside_1 ul > li:nth-last-of-type(n)[data-value="1"]:hover)  .mainGrid  label[data-value="1"]{
	background-color: powderblue;
	box-shadow: 1px 1px 77px 90px rgba(176, 224, 230, 0.377);
	animation: float 3s .5s;
}  */
/* body:has(.aside_1 ul > li:nth-last-of-type(n)[data-value="2"]:hover)  .mainGrid  label[data-value="2"]{
	background-color: palevioletred;
	box-shadow: 1px 1px 77px 90px rgba(216, 112, 147, 0.534);
	animation: float 3s .5s;
}  */

.itemSelect{
	background-color: powderblue;
	box-shadow: 1px 1px 77px 90px rgba(176, 224, 230, 0.377);
	animation: float 1s .5s;
	transition: .5s;
}


.aside_2{
	position: relative;
	z-index: 0;
}

.aside_2::after{
	content: "";
	position: absolute;
	z-index: 1;

}

.aside_2 ul{
	position: relative;
	display: grid;
	grid-auto-flow: row;
	/* grid-template-rows: 33%; */
}

.aside_2 ul li{
	position: relative;
	width: 100%;
	height: fit-content;
	object-position: center;
	object-fit: cover;
	container-name:list ;
	container-type:inline-size ;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: .1px solid;
	:nth-child(n){
			/* outline: solid plum; */

	}
}

.aside_2 li h2{
	width: fit-content;
	margin-block: 2%;
}

.aside_2 li img{
	width: 50cqw;
	height: 50%;
 	/* transform:translateZ(300px)rotate3d(0,0,30deg) rotateX(50deg); */
	transform-origin: bottom;
	transition: .5s ease-out ;
	transition-property: transform,filter;
	z-index: 3;


}


.pageOne{

	&:has(.table:hover) .aside_1{
		transform: rotatey(-45deg);
		background-color: rgba(216, 112, 147, 0.312);
		opacity: .8;
		z-index: 0;
	}
	
	&:has(.mainGrid:hover) .aside_1{
		/* opacity: 0; */
		transform: rotatey(-180deg)  scale(.98);
		z-index: 0;
		background-color: palevioletred;
	

	}

	&:has(.mainGrid:hover) .menu{
		transform: rotateY(-30deg) rotateX(10deg) scale(.9);
		z-index: 0;

		.aside_1::after,.aside_2::after{
			content: "";
			/* background-color: #EDA48D; */
			inset: 0;
			z-index: -1;
			filter: blur(.9px);
		}

		img{
			transform: rotateY(-31deg) rotateX(-6deg) rotateZ(22deg) scale(1.1) skew(24deg, -15deg);
			filter: drop-shadow(5mm 4mm 2mm rgba(69, 66, 66, 0.419));
			z-index: 3;
			animation: float 6s ease-in-out 2s infinite ;

		}
	}
	
}

.pageOne:has(.menu:hover) .table{
	z-index: 0;
	filter: blur(1px)
}

@keyframes float {
	0% {
		transform: translateY(0px) rotateY(-31deg) rotateX(-5deg) rotateZ(22deg) scale(1.1) skew(24deg, -15deg);
	  }
	  15%,60%,85%{
		transform: translateY(3px) rotateY(-33deg) rotateX(-6deg) rotateZ(22deg) scale(1.1) skew(24deg, -15deg);
	  }
	25%,75%{
		transform: translateY(-13px) rotateY(-35deg) rotateX(-7deg) rotateZ(22deg) scale(1.1) skew(24deg, -15deg);
	}

	  50% {
		transform: translateY(-10px) rotateY(-31deg) rotateX(-6deg) rotateZ(22deg) scale(1.1) skew(24deg, -15deg);
	  }
	  100% {
		transform: translateY(0px) rotateY(-31deg) rotateX(-5deg) rotateZ(22deg) scale(1.1) skew(24deg, -15deg);
	  }
}
